@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);

$main-color: #ADD981;
$white: #fff;
$white-transparent : #FFFFFFDF;
$black: black;

* {
	font-family: "montserrat", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: $white;
}

p {
	font-size: 1em;
	color: $white;
}

h1 {
	font-family: "abril fatface", sans-serif;
	font-size: 5em;
	font-weight: 100;
	color: $white;
}

h2 {
	font-family: "abril fatface", sans-serif;
	font-size: 3em;
	font-weight: 100;
	color: $black;
	margin-bottom: 5px;
}

h3 {
	font-size: 1.5em;
	font-weight: 600;
	color: $black;
	margin-bottom: 10px;
}

#container {
	width: 80%;
	margin: auto;
}

/* Boutons */
.button {
	font-size: 1.0em;
	color: $white;
	background-color: $main-color;	
	border: none;
	border-radius: 20px;
	padding: 10px 15px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
}

/* Section */
.section {
	margin-bottom: 150px;
}

/* Séparation */
.section-separator {
	width: 40px;
	height: 8px;
	background-color: $main-color;
	margin-bottom: 40px;
}

/* ==========================================================================
Header
========================================================================== */
#home {
	position: relative;
	&-bg {
		width: 100%;
		height: 100%;
		background-size: contain;
	}
	&-title {
		position: absolute;
		width: 50%;
		top: 25%;
		left: 10%;
	}
	&-scroll {
		position: absolute;
		width: 5%;
		bottom: 10%;
		left: 10%;
		cursor: pointer;
	}
}

/* Navigation principale */
.navbar {
	position : absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	display: flex;
	align-items: center;
	&-logo {
		margin-left: 40px;
		img {
			width: 150px;
			height: auto;
		}
	}
	&-nav {
		display: flex;
		justify-content: space-between;
		width: 400px;
		list-style: none;
	}
	&-link {
		color: $white;
		font-size: 1em;
		text-decoration: none;
	}
}

/* ==========================================================================
Section Services
========================================================================== */
.services {
	display: flex;
	justify-content: space-around;
	&-block {
		width: 220px;
		text-align: center;
		margin: 100px 0;
	}
	&-icon {
		color: $main-color;
	}
	&-text {
		font-size: 1.2em;
		font-weight: 600;
		color: $black;
	}
}

/* ==========================================================================
Section Nos meilleures ventes
========================================================================== */
.bestSales-container {
	display: flex;
	flex-wrap: wrap;
}

.no-grid {
	flex: 1;
	min-width: 300px;
	margin: 0;
}

figure {
	position: relative;
	margin: 10px;
	img {
		width: 100%;
		height: 100%;
	}
}

figcaption {
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: $white-transparent;
	bottom: 0;
	width: 100%;
	p {
		color: $main-color;
		font-weight: 800;
	}
}

/* ==========================================================================
Section Nos plantes
========================================================================== */
.plants-grid {
	display: grid;
	min-height: 150vh;
	grid-template-columns: repeat(4, 1Fr);
	grid-template-rows: repeat(4, 400px);
	&-1 {
		grid-column: 1 / 3;
		grid-row: 1 / 3;
	}
	&-2 {
		grid-column: 3 / 5;
	}
	&-3 {
		grid-column: 3 / 5;
	}
	&-4 {
		grid-column: 1;
		grid-row: 3 / 5;
	}
	&-5 {
		grid-column: 2 / 4;
		grid-row: 3 / 5;
	}
	&-6 {
		grid-column: 4;
		grid-row: 3 / 5;
	}
}

/* ==========================================================================
Footer
========================================================================== */
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	p, a {
		color: $black;
		font-weight: 600;
		margin-bottom: 50px;
	}
	p {
		margin-top: 0;
	}
}